body {
    background-color: hsl(262, 27%, 31%);
    color: hsl(0, 0%, 100%);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    color: hsl(0, 0%, 93%);
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px 21px;
    border-radius:5px;
    border: none;
    box-shadow: 0px 7px 0px 3px hsl(0, 0%, 13%), -5px -5px 15px 3px rgba(255, 255, 255, 0.2);
  }

.pt-5 {
    padding-top: 30px;
}
.hidden {
    color: transparent;
}

#wordContainer {
    margin-top: 20px;
}

.letter {
    margin: 0 7px;
    position: relative;
    text-align: center;
}

.letter::after{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: hsl(0, 0%, 93%);
    min-width: 12px;
}

#startButton {
    margin-top: 20px;
    width: 300px;
    padding: 10px;
    background: hsl(19, 69%, 49%);
}

/* ------ SIGN GAME START AND OVER ------- */
#signStart, #signOver {
    display: none;
    text-align: center;
    font-size: 48pt;
    font-weight: bold;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  
  #signStart {
    display: block;
  }
  
  #signStart p, #signOver p{
    font-size: 22px;
    opacity: 0; /* el elemento está oculto por defecto */
    animation: aparecer-desaparecer 1s infinite; /* la animación dura 1 segundo y se repite infinitamente */
  }
  
  @keyframes aparecer-desaparecer {
    0% {
      opacity: 0; /* el elemento está completamente oculto al principio */
    }
    50% {
      opacity: 1; /* el elemento aparece a la mitad de la animación */
    }
    100% {
      opacity: 0; /* el elemento desaparece al final de la animación */
    }
  }
  
  .animation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: grow 1s ease-in-out forwards;
  }
  
  @keyframes grow {
    0% {
    transform: translate(-50%, -50%) scale(0.1);
    }
    80% {
    transform: translate(-50%, -50%) scale(1);
    }
    100% {
    transform: translate(-50%, -50%) scale(0.8);
    }
  }    
  